@import "tailwindcss";

@theme {
  --color-background: #031313;
  --color-body: #d6f8f5;
  --color-heading: #e6fbf9;
  --color-primary: #80e8e4;
  --color-secondary: #195087;
  --color-accent: #2d77d9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

p {
  font-size: 18px;
  color: var(--color-body);
}
@media (max-width: 1280px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  p {
    font-size: 14px;
  }
}

.card-gradient {
  background: transparent;
  background: linear-gradient(
    0deg,
    rgba(25, 80, 135, 0.4) 0%,
    rgba(0, 0, 0, 0) 60%
  );

  transition: all 0.3s ease-in-out;
}

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  background-color: var(--color-secondary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) transparent;
}
